<div class="genre-item">
  <div class="past-log">
    <h1>ジャンルから選ぶ</h1>
  </div>
  <div class="genre-images">
    <div class="genre-image">
      <%= link_to image_tag("tent.png", class:"genre-btn"),  @tagss %>
      <h2>オートキャンプ</h2>
    </div>
    <div class="genre-image">
      <%= link_to image_tag("fire.png", class:"genre-btn"), @tagsss %>
      <h2>アクティビティ</h2>
    </div>
    <div class="genre-image">
      <%= link_to image_tag("campfire.png", class:"genre-btn"), @tagssss %>
      <h2>料理にこだわる</h2>
     </div>
         <div class="genre-image">
      <%= link_to image_tag("campfire.png", class:"genre-btn"), @tags %>
      <h2>その他</h2>
  </div>
</div>