.header-title{
  text-align: center;
  font-size: 38px;
  align-items: center;

}

header{
  background-image: linear-gradient(to right, #818bf9 0%, #00f2ff 100%);
  color: #fff;
  padding: 10px 25px;
  font-weight: bold;
  /*text-align: center; */

}


.contener-main{
  display: flex;
  justify-content: space-around;
}

.event-lists{
  padding: 12px;
  width: 30%;
  height: 600px;
  background: rgba(238, 246, 0, 0.1);
  overflow: scroll;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}



.past-log{
  text-align:center;
  margin-top: 80px;
  padding: 10px;
}

.genre-images{
  display: flex;
  justify-content: space-around;
}

.genre-image{
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 40px;
}

.genre-image h2{
  text-align: center;
  padding-bottom: 5px;
}

.genre-item{
  margin: 20px 100px;
}




.header-menus{
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  height: 30px;
}

.user-desc{
  display: flex;
  flex-direction: column-reverse;
}



.hidden{
  display: none;
}

.all-ground{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}


.event-images{
    border-radius: 100px;
}