.header-title{
  text-align: center;
  font-size: 38px;
  align-items: center;

}

header{
  background-image: linear-gradient(to right, #818bf9 0%, #00f2ff 100%);
  color: #fff;
  padding: 10px 25px;
  font-weight: bold;
  /*text-align: center; */
  margin-bottom: 10px;
}

.contener-main{
  display: flex;
  justify-content: space-around;
}

.event-lists{
  padding: 12px;
  width: 30%;
  background: rgba(203, 255, 252, 0.353);
}



.past-log{
  text-align:center;
  margin-top: 80px;
  padding: 10px;
}

